@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 249 33% 96%;
    --foreground: 247 100% 21%;
    --muted: 249 12% 90%;
    --muted-foreground: 249 12% 30%;
    --popover: 249 33% 93%;
    --popover-foreground: 247 100% 11%;
    --card: 249 33% 94%;
    --card-foreground: 247 100% 16%;
    --border: 249 23% 91%;
    --input: 249 23% 88%;
    --primary: 247 78% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 247 30% 75%;
    --secondary-foreground: 247 30% 15%;
    --accent: 249 33% 81%;
    --accent-foreground: 249 33% 21%;
    --destructive: 3 93% 20%;
    --destructive-foreground: 3 93% 80%;
    --ring: 247 78% 65%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 249 33% 96%;
    --foreground: 247 100% 21%;
    --muted: 249 12% 90%;
    --muted-foreground: 249 12% 30%;
    --popover: 249 33% 93%;
    --popover-foreground: 247 100% 11%;
    --card: 249 33% 94%;
    --card-foreground: 247 100% 16%;
    --border: 249 23% 91%;
    --input: 249 23% 88%;
    --primary: 247 78% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 247 30% 75%;
    --secondary-foreground: 247 30% 15%;
    --accent: 249 33% 81%;
    --accent-foreground: 249 33% 21%;
    --destructive: 3 93% 20%;
    --destructive-foreground: 3 93% 80%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
